<%= flash_messages %>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.link  %></td>
        <td>
          <%= user.edit_link %>
          <%= user.delete_link %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
