<table>
  <tr>
    <th>name</th>
    <th></th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.user_link  %></td>
    <td> <%= u.edit_user_link %> </td>
    <td> <%= link_to "Delete", user_path(u), data: { confirm: 'Are you sure?', method: 'delete' } %> </td>
  </tr>
  <%end%>
</table>
